/* Breakpoints---------------
x Small
Small
Medium
Extra Large
Extra Extra Large
*/

/* div{
  background: var(--bs-info);
  height: 100px;
  margin-bottom: 20px;
} */

img{
  width: 100px;
}
ul{
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
li{
  display: inline-block;
  margin: 0 10px;
}
a{
  width: 50px;
  height: 50px;
  display: block;
  background: #262626;
  color: #fff;
  padding-top: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
a:hover{
  background: #261261;
}