<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- 
    Default
    Primary
    Secondary
    Success
    Danger
    Warning
    Info
    Light
    Dark
  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Category</a></li>
        <li class="breadcrumb-item active">Page</li>
      </ol>
      <h1>This is new Title <span class="badge bg-danger">new</span></h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, omnis! Optio quam quod quae nam repellendus, ipsa ab veritatis! Adipisci quae, aperiam perferendis explicabo deleniti maxime. Ad autem maiores voluptate temporibus accusantium facilis assumenda non fugit, labore error doloribus repudiandae corrupti necessitatibus deserunt aspernatur soluta? Vitae repudiandae repellendus, aliquam odit, culpa unde reiciendis, possimus provident ea eaque dignissimos omnis voluptates tenetur minima distinctio illum in dolor et optio iste! Suscipit alias repudiandae veniam hic, quibusdam labore similique nemo quos deserunt quia veritatis mollitia delectus soluta, id accusantium deleniti impedit! Voluptatem aperiam doloremque iure dolorum repellendus, nemo eveniet dicta tenetur quas!</p>
      <button class="btn btn-warning">Learn More</button>
      <button class="btn btn-warning">Notification <span class="badge bg-dark">09</span></button>
      <button class="btn btn-outline-danger btn-sm">Notification <span class="badge bg-dark">09</span></button>
    </div>
  </div>
</div>



  
  
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>